.pagination {
  position: absolute;
  width: 60px;
  height: 60px;
  &-img {
    width: 60px;
    height: 20px;
  }
  &_left {
    left: 40px;
    top: 40%;
  }
  &_right {
    right: 40px;
    top: 60%;
  }
}

.poem {
  &-main {
    font-family: "游明朝", YuMincho,"ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝","ＭＳ 明朝", serif;
  }
  &-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    writing-mode: tb-rl;
    margin: 100px auto 80px auto;
    &-date {
      font-size: 20px;
      margin-left: 20px;
      font-weight: 300;
    }
    &-title {
      min-height: 360px;
      max-height: 480px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 400;
      font-size: 40px;
    }
    &-author {
      display: flex;
      height: 100%;
      margin-right: 20px;
      align-items: center;
      color: #666;
      font-size: 24px;
      &::before {
        content: '';
        display: block;
        width: 2px;
        flex: 1;
        margin-bottom: 40px;
        background-color: #eee;
      }
    }
  }
  &-clauses {
    margin: 40px 0;
    text-align: center;
    line-height: 56px;
    font-weight: 300;
    font-size: 24px;
  }
}