.cal {
  &-head {
    height: 100px;
    line-height: 100px;
    width: 100%;
    background: #333;
    &-arrow {
      position: absolute;
      top: 35px;
      height: 0;
      width: 0;
      border-width: 15px;
      border-style: solid;
      &_left {
        left: 20px;
        border-color: transparent #fff transparent transparent;
      }
      &_right {
        right: 20px;
        border-color: transparent transparent transparent #fff;
      }
    }
    &-title {
      padding: 0 40px;
      color: #fff;
    }
  }
}
.week {
  display: flex;
  background: #333;
}
.day {
  flex: 1;
  position: relative;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 18px;
  color: #fff;
  &-date {
    display: block;
    font-size: 28px;
  }
  &-lunar {
    display: block;
  }
  &_today {
    &::before {
      content: '';
      display: block;
      width: 60px;
      height: 6px;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      background: #eee;
      // border-radius: 50%;
    }
  }
  &_other {
    opacity: .6;
  }
}